<div>
    Connections <span ng-show="connections && connections.length > 0">({{connections.length}})</span>
</div>
<ul>
    <li ng-repeat="con in connections" class="connection">
        <span ng-click="toggleCatalogs(con)">
        	<i class="fas fa-server"></i>
            {{con.name}}
            {{con.databaseProductName}}
            {{con.databaseProductVersion}}
            <span ng-show="con.catalogs.length > 0">({{con.catalogs.length}})</span>
        </span>
        <ul>
        	<li ng-show="con.catalogs && !con.catalogs.$resolved">
        		Loading...
        	</li>
            <li ng-repeat="catalog in con.catalogs" >
            	<i class="fas fa-database"></i>
                <span>{{catalog.name}}</span>
                <div>
                    <p ng-click="toggleSchemas(con, catalog)">
                        Schemas <span ng-show="catalog.schemas.length > 0">({{catalog.schemas.length}})</span>
                    </p>

                    <ul>
                        <li ng-repeat="schema in catalog.schemas">
                            <span>{{schema.name}}</span>
                            <p ng-click="toggleTables(con, catalog, schema)">
                                Tables <span ng-show="schema.tables.length > 0">({{schema.tables.length}})</span>
                            </p>
                            <ul>
                                <li ng-repeat="table in schema.tables">
                                	<i class="fas fa-table"></i>
                                    <a ui-sref="data({ connection: con.name, catalog:catalog.name, schema: schema.name, table:table.name})">
                                        {{table.name}}
                                    </a>
                                    size = {{table.size}}
                                    <div>
                                        <span  ng-click="toggleTableColumns(con, catalog, schema, table)">Columns</span>
                                    </div>
                                    <div ng-show="table.columns">
                                        <ul>
                                            <li ng-repeat="col in table.columns">
                                            	<i class="fas fa-columns"></i>
                                                {{col.name}} {{col.type}} {{col.size}}
                                                <span ng-show="findDetailsForeignKey(table, col.name)">
                                                    -> {{findDetailsForeignKey(table, col.name).masterTable}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>